<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Stack Overflow</title>
</head>
<body>
<h1>Prédiction de tags Stack Overflow</h1>
<form action="shortenurl" method="post">
    <!-- Champ pour le titre -->
    <label for="title">Title</label>
    <input type="text" name="title" value="" required>
    <!-- Champ pour le développement -->
    <label for="question">Question</label>
    <input type="text" name="question" size="100" value="" required>
    <!-- Champ pour soumettre -->
    <input type="submit" value="Submit">
</form>

</body>
</html>